
<div class="container my-4">
  <div class="row d-flex justify-content-between">
    <h1>List of restaurants</h1>
    <button class="btn btn-secondary" style="max-height: 35px"><%= link_to 'Add a restaurant', new_restaurant_path %></button>
  </div>

  <div class="row list-group">
    <% @restaurants.each do |restaurant| %>
      <div class="d-flex justify-content-between list-group-item my-1">
        <h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
        <p><%= restaurant.category %></p>
      </div>
    <% end %>
  </div>
</div>
